---
import Particles from './particles.astro';

export interface Props {
    doc?: string;
    value?: string;
}
---

<div id="document-wrapper" class="max-w-prose mx-auto" transition:name="render">
    <Particles data={Astro.props}></Particles>
    <article id="document-render" class="prose dark:prose-invert prose-img:rounded-md"></article>
</div>

<script>
    import { getParticles } from "@/utils/particles";
    import { markdownToHTML, updateRender } from "@/utils/markdown";
    import { ContentEditable } from "@/components/custom/content-editable";
    import type { Props } from "./document-render.astro";

    document.addEventListener("astro:page-load", () => {
        const wrapper = document.getElementById("document-wrapper");
        const render = document.getElementById("document-render");
        if (!wrapper || !render) return;

        let { doc, value = String() } = getParticles<Props>(wrapper);

        let values: Record<string, string> = {
            ...(doc && JSON.parse(localStorage.getItem(doc) ?? "{}")),
            ...Object.fromEntries(new URLSearchParams(location.search))
        };

        // Intial render
        const renderDocument = () => {
            render!.innerHTML = markdownToHTML(value, values);
        }
        renderDocument();

        // And renders based triggered by parents
        updateRender.setValue = input => {
            value = input;
            renderDocument();
        }

        updateRender.setValues = input => {
            values = input;
            renderDocument();
            if (doc) localStorage.setItem(doc, JSON.stringify(values));
        }

        render.addEventListener("input", ({ target }) => {
            if (target instanceof ContentEditable) {
                const { value, placeholder } = target;
                values[placeholder] = value;
                if (doc) localStorage.setItem(doc, JSON.stringify(values));

                // Update inputs sharing the same placeholder (i.e., variable name)
                for (const element of render.querySelectorAll(`[placeholder="${placeholder}"]`)) {
                    if (element !== target) element.setAttribute("value", value);
                }
            }
        });
    });
</script>

<style is:inline>
    .prose h1, .prose h2, .prose h3, .prose p, .prose p[class] img {
        margin-top: 0;
    }

    .prose p[class] img {
        display: inline-block;
    }

    .prose :not(pre) code {
        padding: 0.125em 0.25em;;
        border: 1px solid hsl(var(--border));
        border-radius: 0.25em;
        background-color: hsl(var(--secondary));
    }

    .prose code::before, .prose code::after {
        content: "";
    }

    @media print {
        @page {
            margin: 2cm;
        }

        .prose hr {
            visibility: hidden;
            margin: unset;
            page-break-after: always;
        }
    }
</style>
