---
import { FileText } from "lucide-react";
---

<aside class="h-full w-full flex flex-col items-center justify-center border border-dashed rounded-xl">
    <FileText strokeWidth={.5} className="h-16 w-16"></FileText>
    <div class="mt-4 text-xl font-medium">
        <slot name="title"></slot>
    </div>
    <div class="mt-2 text-normal font-normal text-slate-500">
        <slot name="text"></slot>
    </div>
</aside>
