---
import { ViewTransitions } from "astro:transitions";
import Navbar from "@/components/custom/navbar.astro";

interface Props {
    title: string;
    description?: string;
    locale?: string;
    continuous?: boolean;
    attributes?: Record<string, string>;
}

const { title, description, locale, continuous, attributes } = Astro.props;
---

<html class="h-full" lang={locale} {...attributes}>
    <head>
        <meta charset="utf-8" />
        <meta name="description" content={description ?? "Paperloop"}>
        <link rel="icon" type="image/png" href="/favicon.png" sizes="48x48" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
        <meta property="og:image" content="/og-image.png"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <title>{title} | Paperloop</title>
        <slot name="head"></slot>
        <ViewTransitions />
    </head>
    <body class={`antialiased ${!continuous ? "h-full flex flex-col" : ""}`}>
        <Navbar>
            <slot name="navbar"></slot>
        </Navbar>
        <main class="flex-1 p-4 md:p-8 overflow-auto">
            <slot></slot>
        </main>
    </body>
</html>

<script>
    document.addEventListener("astro:page-load", () => {
        document.querySelectorAll("time").forEach(time => {
            time.textContent = new Date(time.dateTime).toLocaleString(undefined, {
                dateStyle: "medium",
                timeStyle: "short"
            });
        });
    });
</script>

<style>
    @media print { 
        main {
            overflow: visible;
            padding: 0;
        }
    }
</style>
