---
import { FileText, CirclePlus } from "lucide-react";
import { Button } from "../ui/button";
import { getPreferredLocale, getTranslations } from "@/utils/i18n.ts";

const locale = getPreferredLocale(Astro.request.headers);
const i18n = getTranslations(locale);
---

<header
    class="flex h-16 items-center gap-4 border-b bg-background px-4 md:px-6"
>
    <nav class="flex flex-row items-center gap-6 text-sm font-semibold">
        <a href="/" class="flex items-center gap-2 text-base font-bold">
            <FileText className="h-6 w-6" />
            <span>Doclino</span>
        </a>
        <a
            href="/docs"
            class="hidden md:block text-foreground transition-colors hover:text-foreground"
        >
            {i18n("my-documents")}
        </a>
    </nav>
    <nav class="flex flex-row ml-auto items-center gap-2 text-sm font-semibold">
        <slot></slot>
        <Button id="add" size="sm" variant="outline">
            <CirclePlus className="mr-2 h-4 w-4" />
            <span>{i18n("new-document")}</span>
        </Button>
    </nav>
</header>

<script>
    import { actions } from "astro:actions";
    import { navigate } from "astro:transitions/client";

    document.addEventListener("astro:page-load", () => {
        document.querySelector("button#add")?.addEventListener("click", async () => {
            const { data, error } = await actions.createDocument();
            if (!error) navigate(`/docs/${data.id}`);
        });
    });
</script>

<style>
    @media print {    
        header {
            display: none;
        }
    }
</style>
