---
import "@/styles/globals.css";
import { and, db, eq, Document } from "astro:db";
import { Button } from "@/components/ui/button";
import { Printer } from "lucide-react";

import Layout from "@/components/custom/layout.astro";
import DocumentRender from "@/components/custom/document-render.astro";
import { defaultLocale, getPreferredLocale, getTranslations } from "@/utils/i18n.ts";

if (!Astro.locals.user) return Astro.redirect("/auth");

const { doc } = Astro.params;
if (!doc) return Astro.redirect("/404");

const entry = await db.select().from(Document).where(
    and(eq(Document.id, doc), eq(Document.user, Astro.locals.user.id))
).get();
if (!entry) return Astro.redirect("/404");

const locale = getPreferredLocale(Astro.request.headers) ?? defaultLocale;
const i18n = getTranslations(locale);
---

<Layout title={entry.name}>
    <Button id="print" slot="navbar" variant="outline" size="sm">
        <Printer className="mr-2 h-4 w-4" />
        {i18n("print")}
    </Button>
    <div class="mt-12">
        <DocumentRender doc={entry.document} value={entry.markdown}></DocumentRender>
    </div>
</Layout>

<script>
    document.addEventListener("astro:page-load", () => {
        document.querySelector("button#print")?.addEventListener("click", () => print());;
    });
</script>

<style>
    @media print {
        div {
            margin: 0;
        }
    }
</style>
