---
import "@/styles/globals.css";
import Layout from "@/components/custom/layout.astro";
import { getPreferredLocale, getTranslations } from "@/utils/i18n.ts";

// Used to provide a language-specific meta alternate link for SEO
const locale = Astro.url.searchParams.get("lang") ?? getPreferredLocale(Astro.request.headers);
const i18n = getTranslations(locale);
---

<Layout title={i18n("new-document")} description={i18n("new-document")} locale={locale}>
    <h1>{i18n("welcome")}</h1>
</Layout>
