---
export const prerender = true;

import "@/styles/globals.css";
import { Badge } from "@/components/ui/badge";
import { Card, CardContent } from "@/components/ui/card";

import Layout from "@/components/custom/layout.astro";
import DocumentRender from "@/components/custom/document-render.astro";
import { getTranslations } from "@/utils/i18n.ts";

// TODO: Currently only pre-rendered in English
const i18n = getTranslations("en");
---

<Layout title={i18n("new-document")} description={i18n("new-document")} locale={"en"}>
    <div class="mt-16 mx-auto max-w-2xl text-center">
        <Badge variant="secondary" className="px-3 py-1 text-sm">
            Paperloop
        </Badge>
        <h1 class="mt-8 text-5xl font-extrabold tracking-tight leading-tight">
            Predictable, reusable, and versioned documents
        </h1>
        <h2 class="mt-8 text-xl font-normal tracking-tight text-slate-500">
            Paperloop let's you write documents with separated static and dynamic content, usable for contracts, invoices, offers, email templates, and more.
        </h1>
    </div>
    <div class="mt-32 mx-auto max-w-7xl h-96 flex gap-2">
        <Card className="flex-1"></Card>
        <Card className="flex-1">
            <CardContent className="pt-6">
                <DocumentRender id="" value="### Test\n- Test" values={{}}></DocumentRender>
            </CardContent>
        </Card>
    </div>
</Layout>
